.loginInput {
    width: 50%;
    background-color: white;
    padding: 5px 15px;
    margin: 5px 0;
    border-radius: 5px;    
    display: flex;
}

.loginInput input {
    flex: 2;
    width: 100%;
    padding: 5px 0;
    outline: none;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
}

.passwordBtn {
    cursor: pointer;
}